.bg-blog-new {
/*background-image: url('../images/index6.jpg');*/
    background: url(../images/index61.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
    background-size: 100% 100%;

}
.fixed {
    position: fixed;
    top: 0;
}
.scrol-top {
    /*margin-top: 15%;*/
    z-index: 9;
    margin-left: 12%;
}
.bg-blog-new .affix h1 {
    margin-top: 1%;
}
.scrol-top .descrption {
    margin-left: 15px;
    margin-bottom: 106px;
}
.bg-blog-top.affix img {
    display: block !important;
    margin-left: 155px;
}
.bg-blog-top.affix {
    width: 68%;
    text-align: center;
    background-color: #fff;
    z-index: 9999;
    left: 13.9%;
    top: 0;
}
.bg-blog-btm.affix img {
    display: block !important;
    margin-left: 155px;
}
.bg-blog-btm.affix {
    width: 58%;
    text-align: center;
    background-color: #fff;
    z-index: 9999;
    left: 20%;
    bottom: 0 !important;
}
.btm-affix .affix {
    bottom: 0;
}
.pos-re {
    position: relative;
}
