/* @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
      
      .board {
          background: #fff;
      }
      
      .board .nav-user {
          position: relative;
          margin: 40px auto;
          margin-bottom: 0;
          box-sizing: border-box;
      }
      
      .board > div.board-inner {
          background-size: 30%;
      }
      
      p.narrow {
          width: 60%;
          margin: 10px auto;
      }
      
      .liner {
          height: 2px;
          background: #ddd;
          position: absolute;
          width: 80%;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 50%;
          z-index: 1;
      }
      
      .nav-user > li.active > a,
      .nav-user > li.active > a:hover,
      .nav-user > li.active > a:focus {
          color: #555555;
          cursor: default;
          border: 0;
          border-bottom-color: transparent;
      }
      
      span.round-tabs {
          width: 70px;
          height: 70px;
          line-height: 70px;
          display: inline-block;
          border-radius: 100px;
          background: white;
          z-index: 2;
          position: absolute;
          left: 0;
          text-align: center;
          font-size: 25px;
      }
      
      span.round-tabs.one {
          color: rgb(34, 194, 34);
          border: 2px solid rgb(34, 194, 34);
      }
      
      li.active span.round-tabs.one {
          background: #fff !important;
          border: 2px solid #ddd;
          color: rgb(34, 194, 34);
      }
      
      span.round-tabs.two {
          color: #febe29;
          border: 2px solid #febe29;
      }
      
      li.active span.round-tabs.two {
          background: #fff !important;
          border: 2px solid #ddd;
          color: #febe29;
      }
      
      span.round-tabs.three {
          color: #3e5e9a;
          border: 2px solid #3e5e9a;
      }
      
      li.active span.round-tabs.three {
          background: #fff !important;
          border: 2px solid #ddd;
          color: #3e5e9a;
      }
      
      span.round-tabs.four {
          color: #f1685e;
          border: 2px solid #f1685e;
      }
      
      li.active span.round-tabs.four {
          background: #fff !important;
          border: 2px solid #ddd;
          color: #f1685e;
      }
      
      span.round-tabs.five {
          color: #999;
          border: 2px solid #999;
      }
      
      li.active span.round-tabs.five {
          background: #fff !important;
          border: 2px solid #ddd;
          color: #999;
      }
      
      .nav-user > li.active > a span.round-tabs {
          background: #fafafa;
      }
      
      .nav-user > li {
          width: 20%;
      }
      
      
      .nav-user > li:after {
          content: " ";
          position: absolute;
          left: 45%;
          opacity: 0;
          margin: 0 auto;
          bottom: 0px;
          border: 5px solid transparent;
          border-bottom-color: #ddd;
          transition: 0.1s ease-in-out;
      }
      
      .nav-user > li.active:after {
          content: " ";
          position: absolute;
          left: 45%;
          opacity: 1;
          margin: 0 auto;
          bottom: 0px;
          border: 10px solid transparent;
          border-bottom-color: #ddd;
      }
      
      .nav-user > li a {
          width: 70px;
          height: 70px;
          margin: 20px auto;
          border-radius: 100%;
          padding: 0;
      }
      
      .nav-user > li a:hover {
          background: transparent;
      }
      
      .tab-content {}
      
      .tab-pane {
          position: relative;
          padding-top: 50px;
      }
      
      .tab-content .head {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 25px;
          text-transform: uppercase;
          padding-bottom: 10px;
      }
      
      .btn-outline-rounded {
          padding: 10px 40px;
          margin: 20px 0;
          border: 2px solid transparent;
          border-radius: 25px;
      }
      
      .btn.green {
          background-color: #5cb85c;
          color: #ffffff;
      }
      
      @media( max-width: 585px) {
          .board {
              width: 90%;
              height: auto !important;
          }
          span.round-tabs {
              font-size: 16px;
              width: 50px;
              height: 50px;
              line-height: 50px;
          }
          .tab-content .head {
              font-size: 20px;
          }
          .nav-user > li a {
              width: 50px;
              height: 50px;
              line-height: 50px;
          }
          .nav-user > li.active:after {
              content: " ";
              position: absolute;
              left: 35%;
          }
          .btn-outline-rounded {
              padding: 12px 20px;
          }
      }*/