@color-base: #2d5e8b;
@color-white: #fff;
@basic-font:'Poppins', sans-serif;
body {
	overflow-x: hidden;
 font-family: @basic-font;
}
a.back-to-top-new {
	background: url(../images/arrow.png) center 43% no-repeat ;
	bottom: 20px;
	display: none;
	height: 30px;
	position: fixed;
	right: 20px;
	text-indent: -9999px;
	width: 30px;
	z-index: 999;
}
/*=============
FIRST HEADER CSS 
=============*/
.first-header {
	background-color: #252525;
 color:@color-white;
	padding: 10px 0;
 ul {
 margin-bottom: 0;
 li {
 a {
 color: #fff;
 padding-right: 6px;
 text-transform: uppercase;
}
}
}
}

.banner-carousel {
 .carousel-control.left, .carousel-control.right {
 background-image: none;
}
}

