
@charset "utf-8";
/* CSS Document by sourav*/

@media (min-width: 2301px){	
	.second-img {
	    margin-top: 9% !important;
	}
}
@media (min-width: 1920px) and (max-width: 2300px){	
/* your code */		
}
@media (min-width: 1367px) and (max-width: 1919px){	
/* your code */	

}
@media (min-width: 1281px) and (max-width: 1366px){
/* your code */	
}
@media (min-width: 992px) and (max-width: 1280px){		
/* your code */
}

@media screen and (max-width: 1024px) {
	.service-category.col-centered .col-xs-12.col-sm-4:nth-child(4n+4) {
		clear: both;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	 /* your code */
}
@media (min-width: 581px) and (max-width: 767px) {
	 /* your code */
}
@media (min-width: 481px) and (max-width: 580px) {	
 /* your code */
}
@media (min-width: 401px) and (max-width: 480px) {
	 /* your code */
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }

	 .login-fb {
	 	margin-left: 0 !important;
	 } 

	 a.btn-login-fb {
	 	padding: 32px 150px !important;
	 }

}

@media (min-width: 320px) and (max-width: 780px) {
	.navbar-logo img{
		width: 60% !important;
	}

	.login-fb {
		text-align: center;
	}

	.signup-section form input {
		width: 88% !important;
	}

	.center-line {
		margin: 15px auto 0 !important;
	}
}

@media screen and (max-width: 768px) { 
	.signup-section form .comment-brd,
	.signup-section.contact-sec form textarea {
		width: 90% !important;
	}

	.service-category div {
		min-height: 0 !important;
		margin-top: 0px !important;
		margin-bottom: 20px;
	}

	.index-services .table-responsive {
		border: 0;
	}

	.second-img figure img,
	.img-positn figure img {
		margin: 0 auto;
	}

	.second-img figure,
	.img-positn figure {
		position: relative !important;
		top: -73px !important;
	}

	.img-positn figure {
		top: -40px !important;
	}

	.bg-coin .box-coin {
		margin-bottom: 5% !important;
	}

	.min-hght {
		min-height: 240px;
	}

	.min-hght-ser {
		min-height: 0;
	} 	

	.min-hght2 {
		min-height: 40px;
	}

	.about-section {
		margin-top: 0;
	}

}

@media screen and (max-width: 500px) { 
	.login-fb {
		margin-left: 0px !important;
	}

	.text-right.text-foot.list-unstyled {
		margin-top: 25px;
	}	
}

@media screen and (max-width: 400px) {
	a.btn-login-fb,
	.center-line {
		width: 300px !important;
	}

	.service-title h2 {
		font-size: 20px;
	}
}