@media (min-width: 2301px){	
/* your code */	
}
@media (min-width: 1093px) and (max-width: 1093px){ 
.navbar-custom .navbar-nav>li>a {
    font-size: 12px !important;
}   
.image-relative img.mn-hght,
.box-services{
    min-height: 441px !important;
}
.news-updates-section h3{
    font-size: 22px !important;
}
}
@media (min-width: 1024px) and (max-width: 1024px){	
.navbar-custom .navbar-nav>li>a {
    font-size: 12px !important;
}	
.image-relative img.mn-hght,
.box-services{
    min-height: 441px !important;
}
.news-updates-section h3{
    font-size: 22px !important;
}
}
@media (min-width: 800px) and (max-width: 800px) {
    .side-nav {
    left: -78px !important;
}
.sidebar .sidebar-nav {
    padding-left: 71px !important;
}
.sidebar-image img{
    padding-left: 59px !important;
}

}
@media (min-width: 1367px) and (max-width: 1919px){	
/* your code */	

}
@media (min-width: 1281px) and (max-width: 1366px){
/* your code */	
}
@media (min-width: 992px) and (max-width: 1280px){		

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 320px) and (max-width: 768px){
html,body{
	overflow-x: hidden !important;
}
.footer-bottom p {
    text-align: center;
}
.box-services {
        padding-bottom: 38px !important;
}
.social {
    padding-left: 24% !important;
}
blockquote.style3{
	margin: 0 !important;
}
.min-hght-mobile{
	min-height: 65px;
}
.banner-custom .carousel-caption {
    position: relative;
    background: #ff6f10;
    right: 0;
    min-height: 280px;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 54px;
}
.banner-custom .carousel-caption h1:after {
    margin: 0 auto !important;
}
.border-right {
    border-right: 0 solid #e1e1e1 !important;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.contact-detils h3,
.contact-detils address {
    text-align: center;
}
}

