@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
			/* -- import Roboto Font ---------------------------- */
			/* -- import Material Icons Font -------------------- */
			@font-face {
			  font-family: 'Material Design Iconic Font';
			  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?v=1.0');
			  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?#iefix&v=1.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.woff?v=1.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.ttf?v=1.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.svg?v=1.0#Material-Design-Iconic-Font') format('svg');
			  font-weight: normal;
			  font-style: normal;
			}
			[class^="md-"],
			[class*=" md-"] {
			  display: inline-block;
			  font: normal normal normal 14px/1 'Material Design Iconic Font';
			  font-size: inherit;
			  speak: none;
			  text-rendering: auto;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			}
			.md {
			  line-height: inherit;
			  vertical-align: bottom;
			}
			.md-inbox:before {
			  content: "\f10c";
			}
			.md-star:before {
			  content: "\f2e5";
			}
			.md-send:before {
			  content: "\f119";
			}
			.md-drafts:before {
			  content: "\f107";
			}
			.md-arrow-back:before {
			  content: "\f297";
			}
			.md-arrow-forward:before {
			  content: "\f298";
			}
		.sidebar-overlay {
			  visibility: hidden;
			  position: fixed;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  opacity: 0;
			  background: #000;
			  z-index: 1034;
			  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
			  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
			  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
			  -webkit-transform: translateZ(0);
			  -moz-transform: translateZ(0);
			  -ms-transform: translateZ(0);
			  -o-transform: translateZ(0);
			  transform: translateZ(0);
			}
			.sidebar-overlay.active {
			  opacity: 0.5;
			  visibility: visible;
			  -webkit-transition-delay: 0;
			  -moz-transition-delay: 0;
			  transition-delay: 0;
			}
			.top-bar {
			  height: 25px;
			  background: rgba(0, 0, 0, 0.1);
			}
			/* -- Google typography ------------------------------- */
			.headline {
			  font-size: 24px;
			  font-weight: 300;
			  line-height: 1.1;
			  color: #212121;
			  text-transform: inherit;
			  letter-spacing: inherit;
			}
			.subhead {
			  font-size: 16px;
			  font-weight: 300;
			  line-height: 1.1;
			  color: #212121;
			  text-transform: inherit;
			  letter-spacing: inherit;
			}
			/* -- Bootstrap-like style ------------------------------- */
			.caret {
			  display: inline-block;
			  width: 0;
			  height: 0;
			  margin-left: 2px;
			  vertical-align: middle;
			  border-top: 4px solid;
			  border-right: 4px solid transparent;
			  border-left: 4px solid transparent;
			}
			.dropdown-menu {
			  display: none;
			}
			/* -- Constructor style ------------------------------- */
			.constructor {
			  position: relative;
			  margin: 0;
			  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			}
			.sidebar {
			  display: table-cell;
			  vertical-align: top;
			}
			.sidebar-stacked.open + .wrapper .constructor {
			  margin-left: 280px;
			}

			@media (max-width: 768px) {
			  .sidebar-stacked.open + .wrapper .constructor {
			    margin-left: 240px;
			  }
			}
			/* -- Sidebar style ------------------------------- */
			.sidebar {
			  position: relative;
			  display: block;
			  min-height: 100%;
			  overflow-y: auto;
			  overflow-x: hidden;
			  border: none;
			  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			}
			.sidebar:before,
			.sidebar:after {
			  content: " ";
			  display: table;
			}
			.sidebar:after {
			  clear: both;
			}
			.sidebar::-webkit-scrollbar-track {
			  border-radius: 2px;
			}
			.sidebar::-webkit-scrollbar {
			  width: 5px;
			  background-color: #F7F7F7;
			}
			.sidebar::-webkit-scrollbar-thumb {
			  border-radius: 10px;
			  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			  background-color: #BFBFBF;
			}
			.sidebar .sidebar-header {
			  position: relative;
			  % height: 157.5px;
			  margin-bottom: 8px;
			  -webkit-transition: all 0.2s ease-in-out;
			  -o-transition: all 0.2s ease-in-out;
			  transition: all 0.2s ease-in-out;
			}
			.sidebar .sidebar-header.header-cover {
			  background-repeat: no-repeat;
			  background-position: center center;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  margin-bottom: 0;
			}
			.sidebar .sidebar-header:hover .sidebar-toggle {
			  opacity: 1;
			}
			.sidebar .sidebar-toggle {
			    position: relative;
			    float: right;
			    margin: 2px;
			    padding: 0;
			    background-image: none;
			    border: none;
			    height: 15px;
			    width: 42px;
			    font-size: 20px;
			    opacity: 0.7;
			    -webkit-transition: all 0.2s ease-in-out;
			    -o-transition: all 0.2s ease-in-out;
			    transition: all 0.2s ease-in-out;
			}
			.sidebar .sidebar-toggle:before,
			.sidebar .sidebar-toggle:after {
			  content: " ";
			  display: table;
			}
			.sidebar .sidebar-toggle:after {
			  clear: both;
			}
			.sidebar .icon-material-sidebar-arrow:before {
			  content: "\e610";
			}
			.sidebar .sidebar-image img {
		    padding: 6px 0;
		    -webkit-transition: all 0.2s ease-in-out;
		    -o-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
		   
			}
			.sidebar .sidebar-brand {
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  display: block;
			  height: 48px;
			  line-height: 48px;
			  padding: 0;
			  padding-left: 16px;
			  padding-right: 56px;
			  text-decoration: none;
			  clear: both;
			  font-weight: 500;
			  overflow: hidden;
			  -o-text-overflow: ellipsis;
			  text-overflow: ellipsis;
			  white-space: nowrap;
			  -webkit-transition: all 0.2s ease-in-out;
			  -o-transition: all 0.2s ease-in-out;
			  transition: all 0.2s ease-in-out;
			}
			.sidebar .sidebar-brand:hover,
			.sidebar .sidebar-brand:focus {
			  -webkit-box-shadow: none;
			  box-shadow: none;
			  outline: none;
			}
			.sidebar .sidebar-brand .caret {
			  position: absolute;
			  right: 24px;
			  top: 24px;
			}
			.sidebar .sidebar-brand .sidebar-badge {
			  position: absolute;
			  right: 16px;
			  top: 12px;
			}
			.sidebar .sidebar-brand:hover,
			.sidebar .sidebar-brand:focus {
			  text-decoration: none;
			}
			.sidebar .sidebar-badge {
			  display: inline-block;
			  min-width: 24px;
			  height: 24px;
			  line-height: 24px;
			  padding: 0 3px;
			  font-size: 10px;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: baseline;
			}
			.sidebar .sidebar-badge.badge-circle {
			  border-radius: 50%;
			}
			.sidebar .sidebar-divider,
			.sidebar .sidebar-nav .divider {
			  position: relative;
			  display: block;
			  height: 1px;
			  margin: 8px 0;
			  padding: 0;
			  overflow: hidden;
			}
			.sidebar .sidebar-text {
			  display: block;
			  height: 48px;
			  line-height: 48px;
			  padding: 0;
			  padding-left: 16px;
			  padding-right: 56px;
			  text-decoration: none;
			  clear: both;
			  font-weight: 500;
			  overflow: hidden;
			  -o-text-overflow: ellipsis;
			  text-overflow: ellipsis;
			  white-space: nowrap;
			  -webkit-transition: all 0.2s ease-in-out;
			  -o-transition: all 0.2s ease-in-out;
			  transition: all 0.2s ease-in-out;
			}
			.sidebar .sidebar-text:hover,
			.sidebar .sidebar-text:focus {
			  -webkit-box-shadow: none;
			  box-shadow: none;
			  outline: none;
			}
			.sidebar .sidebar-text .caret {
			  position: absolute;
			  right: 24px;
			  top: 24px;
			}
			.sidebar .sidebar-text .sidebar-badge {
			  position: absolute;
			  right: 16px;
			  top: 12px;
			}
			.sidebar i {
			  display: inline-block;
			  margin-right: 0;
			  min-width: 30px;
			  width: 30px;
			  text-align: left;
			  font-size: 18px;
			  transition: all 0.5s ease;
			  line-height: 30px;
			}
			.sidebar .sidebar-icon:before,
			.sidebar .sidebar-icon:after {
			  vertical-align: middle;
			}
			.sidebar .sidebar-nav {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}
			.sidebar .sidebar-nav li {
			  position: relative;
			  list-style-type: none;
			}
			.sidebar .sidebar-nav li a {
			  position: relative;
			  cursor: pointer;
			  user-select: none;
			  display: block;
			  height: 40px;
			  line-height: 40px;
			  padding: 0 35px 0 16px;
			  text-decoration: none;
			  clear: both;
			  font-weight: 500;
			  overflow: hidden;
			  -o-text-overflow: ellipsis;
			  text-overflow: ellipsis;
			  white-space: nowrap;
			  -webkit-transition: all 0.2s ease-in-out;
			  -o-transition: all 0.2s ease-in-out;
			  transition: all 0.2s ease-in-out;
			  width: 100%;
			}

			.sidebar li.list-loyalty {
				padding: 15px 15px 0 15px;
				color: #212121;
			}

			.sidebar li.list-loyalty i {
				height: 40px;
				color: #757575;
			}

			.sidebar li.list-loyalty .badge {
				padding: 5px 10px;
			}

			.sidebar .sidebar-nav li li.dropdown-submenu a {
				padding: 0 35px 0 26px;
			}

			.sidebar .sidebar-nav li li.dropdown-submenu a i {
				min-width: 20px;
				width: 20px;
				font-size: 15px;
			}

			.sidebar .sidebar-nav li li.dropdown-submenu ul li a {
				padding-left: 32px;
			}

			.sidebar .sidebar-nav li a:hover,
			.sidebar .sidebar-nav li a:focus {
			  -webkit-box-shadow: none;
			  box-shadow: none;
			  outline: none;
			}
			.sidebar .sidebar-nav li a .caret {
			  position: absolute;
			  right: 24px;
			  top: 24px;
			}
			.sidebar .sidebar-nav li a .sidebar-badge {
			  position: absolute;
			  right: 16px;
			  top: 12px;
			}
			.sidebar .sidebar-nav li a:hover {
			  background: transparent;
			}
			.sidebar .sidebar-nav .dropdown-menu {
			  position: relative;
			  width: 100%;
			  margin: 0;
			  padding: 0;
			  border: none;
			  border-radius: 0;
			  -webkit-box-shadow: none;
			  box-shadow: none;
			}
			.sidebar-default {
			  background-color: #ffffff;
			}
			.sidebar-default .sidebar-toggle {
			  color: #212121;
			  background-color: transparent;
			}
			.sidebar-default .sidebar-brand {
			  color: #757575;
			  background-color: transparent;
			}
			.sidebar-default .sidebar-brand:hover,
			.sidebar-default .sidebar-brand:focus {
			  color: #212121;
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-default .sidebar-badge {
			  color: #ffffff;
			  background-color: #bdbdbd;
			}
			.sidebar-default .sidebar-divider,
			.sidebar-default .sidebar-nav .divider {
			  background-color: #bdbdbd;
			}
			.sidebar-default .sidebar-text {
			  color: #212121;
			}
			.sidebar-default .sidebar-nav li > a {
			  color: #212121;
			  background-color: transparent;
			}
			.sidebar-default .sidebar-nav li > a i {
			  color: #757575;
			}
			.sidebar-default .sidebar-nav li:hover > a,
			.sidebar-default .sidebar-nav li > a:hover {
			  color: #fff;
			  background-color: #252525;
			}
			.sidebar-default .sidebar-nav li:hover > a i,
			.sidebar-default .sidebar-nav li > a:hover i {
			  color: #fff;
			}
			.sidebar-default .sidebar-nav li:focus > a,
			.sidebar-default .sidebar-nav li > a:focus {
			  color: #fff;
			  background-color: #252525;
			}
			.sidebar-default .sidebar-nav li:focus > a i,
			.sidebar-default .sidebar-nav li > a:focus i {
			  color: #fff;
			}
			.sidebar-default .sidebar-nav > .open > a,
			.sidebar-default .sidebar-nav > .open > a:hover,
			.sidebar-default .sidebar-nav > .open > a:focus {
			  color: #fff;
			  background-color: #252525;
			}
			.sidebar-default .sidebar-nav > .active > a,
			.sidebar-default .sidebar-nav > .active > a:hover,
			.sidebar-default .sidebar-nav > .active > a:focus {
			  color: #fff;
			  background-color: #252525;
			}
			.sidebar-default .sidebar-nav > .disabled > a,
			.sidebar-default .sidebar-nav > .disabled > a:hover,
			.sidebar-default .sidebar-nav > .disabled > a:focus {
			  color: #e0e0e0;
			  background-color: transparent;
			}
			.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
			  background-color: #e0e0e0;
			}
			.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
			  background-color: #e0e0e0;
			  color: #212121;
			}
			.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
			  background-color: #cecece;
			  color: #212121;
			}
			.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
			.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
			.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
			  color: #212121;
			  background-color: #e0e0e0;
			}
			.sidebar-inverse {
			  background-color: #212121;
			}
			.sidebar-inverse .sidebar-header {
			  background-color: #eceff1;
			}
			.sidebar-inverse .sidebar-toggle {
			  color: #212121;
			  background-color: transparent;
			}
			.sidebar-inverse .sidebar-brand {
			  color: #757575;
			  background-color: transparent;
			}
			.sidebar-inverse .sidebar-brand:hover,
			.sidebar-inverse .sidebar-brand:focus {
			  color: #212121;
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-inverse .sidebar-badge {
			  color: #212121;
			  background-color: #e0e0e0;
			}
			.sidebar-inverse .sidebar-divider,
			.sidebar-inverse .sidebar-nav .divider {
			  background-color: #bdbdbd;
			}
			.sidebar-inverse .sidebar-text {
			  color: #f5f5f5;
			}
			.sidebar-inverse .sidebar-nav li > a {
			  color: #f5f5f5;
			  background-color: transparent;
			}
			.sidebar-inverse .sidebar-nav li > a i {
			  color: #bdbdbd;
			}
			.sidebar-inverse .sidebar-nav li:hover > a,
			.sidebar-inverse .sidebar-nav li > a:hover {
			  color: #bdbdbd;
			  background-color: #000000;
			}
			.sidebar-inverse .sidebar-nav li:hover > a i,
			.sidebar-inverse .sidebar-nav li > a:hover i {
			  color: #bdbdbd;
			}
			.sidebar-inverse .sidebar-nav li:focus > a,
			.sidebar-inverse .sidebar-nav li > a:focus {
			  color: #f5f5f5;
			  background-color: transparent;
			}
			.sidebar-inverse .sidebar-nav li:focus > a i,
			.sidebar-inverse .sidebar-nav li > a:focus i {
			  color: #bdbdbd;
			}
			.sidebar-inverse .sidebar-nav > .open > a,
			.sidebar-inverse .sidebar-nav > .open > a:hover,
			.sidebar-inverse .sidebar-nav > .open > a:focus {
			  color: #bdbdbd;
			  background-color: #000000;
			}
			.sidebar-inverse .sidebar-nav > .active > a,
			.sidebar-inverse .sidebar-nav > .active > a:hover,
			.sidebar-inverse .sidebar-nav > .active > a:focus {
			  color: #f5f5f5;
			  background-color: #000000;
			}
			.sidebar-inverse .sidebar-nav > .disabled > a,
			.sidebar-inverse .sidebar-nav > .disabled > a:hover,
			.sidebar-inverse .sidebar-nav > .disabled > a:focus {
			  color: #757575;
			  background-color: transparent;
			}
			.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu {
			  background-color: #000000;
			}
			.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
			  background-color: #000000;
			  color: #bdbdbd;
			}
			.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
			  background-color: #000000;
			  color: #bdbdbd;
			}
			.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
			.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
			.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
			  color: #f5f5f5;
			  background-color: #000000;
			}
			.sidebar-colored {
			  background-color: #ffffff;
			}
			.sidebar-colored .sidebar-header {
			  background-color: #e91e63;
			}
			.sidebar-colored .sidebar-toggle {
			  color: #f5f5f5;
			  background-color: transparent;
			}
			.sidebar-colored .sidebar-brand {
			  color: #e0e0e0;
			  background-color: transparent;
			}
			.sidebar-colored .sidebar-brand:hover,
			.sidebar-colored .sidebar-brand:focus {
			  color: #f5f5f5;
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-colored .sidebar-badge {
			  color: #ffffff;
			  background-color: #ec407a;
			}
			.sidebar-colored .sidebar-divider,
			.sidebar-colored .sidebar-nav .divider {
			  background-color: #bdbdbd;
			}
			.sidebar-colored .sidebar-text {
			  color: #212121;
			}
			.menunew .fa {
    font-size: 37px !important;
}
			.sidebar-colored .sidebar-nav li > a {
			  color: #212121;
			  background-color: transparent;
			}
			.sidebar-colored .sidebar-nav li > a i {
			  color: #757575;
			}
			.sidebar-colored .sidebar-nav li:hover > a,
			.sidebar-colored .sidebar-nav li > a:hover {
			  color: #e91e63;
			  background-color: #e0e0e0;
			}
			.sidebar-colored .sidebar-nav li:hover > a i,
			.sidebar-colored .sidebar-nav li > a:hover i {
			  color: #f06292;
			}
			.sidebar-colored .sidebar-nav li:focus > a,
			.sidebar-colored .sidebar-nav li > a:focus {
			  color: #212121;
			  background-color: transparent;
			}
			.sidebar-colored .sidebar-nav li:focus > a i,
			.sidebar-colored .sidebar-nav li > a:focus i {
			  color: #f06292;
			}
			.sidebar-colored .sidebar-nav > .open > a,
			.sidebar-colored .sidebar-nav > .open > a:hover,
			.sidebar-colored .sidebar-nav > .open > a:focus {
			  color: #e91e63;
			  background-color: #e0e0e0;
			}
			.sidebar-colored .sidebar-nav > .active > a,
			.sidebar-colored .sidebar-nav > .active > a:hover,
			.sidebar-colored .sidebar-nav > .active > a:focus {
			  color: #212121;
			  background-color: #f5f5f5;
			}
			.sidebar-colored .sidebar-nav > .disabled > a,
			.sidebar-colored .sidebar-nav > .disabled > a:hover,
			.sidebar-colored .sidebar-nav > .disabled > a:focus {
			  color: #e0e0e0;
			  background-color: transparent;
			}
			.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu {
			  background-color: #e0e0e0;
			}
			.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
			  background-color: #e0e0e0;
			  color: #e91e63;
			}
			.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
			  background-color: #cecece;
			  color: #e91e63;
			}
			.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
			.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
			.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
			  color: #212121;
			  background-color: #f5f5f5;
			}
			.sidebar-colored-inverse {
			  background-color: #e91e63;
			}
			.sidebar-colored-inverse .sidebar-header {
			  background-color: #eceff1;
			}
			.sidebar-colored-inverse .sidebar-toggle {
			  color: #212121;
			  background-color: transparent;
			}
			.sidebar-colored-inverse .sidebar-brand {
			  color: #757575;
			  background-color: transparent;
			}
			.sidebar-colored-inverse .sidebar-brand:hover,
			.sidebar-colored-inverse .sidebar-brand:focus {
			  color: #212121;
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-colored-inverse .sidebar-badge {
			  color: #212121;
			  background-color: #e0e0e0;
			}
			.sidebar-colored-inverse .sidebar-divider,
			.sidebar-colored-inverse .sidebar-nav .divider {
			  background-color: #bdbdbd;
			}
			.sidebar-colored-inverse .sidebar-text {
			  color: #e0e0e0;
			}
			.sidebar-colored-inverse .sidebar-nav li > a {
			  color: #f5f5f5;
			  background-color: transparent;
			}
			.sidebar-colored-inverse .sidebar-nav li > a i {
			  color: #e0e0e0;
			}
			.sidebar-colored-inverse .sidebar-nav li:hover > a,
			.sidebar-colored-inverse .sidebar-nav li > a:hover {
			  color: #f5f5f5;
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-colored-inverse .sidebar-nav li:hover > a i,
			.sidebar-colored-inverse .sidebar-nav li > a:hover i {
			  color: #f5f5f5;
			}
			.sidebar-colored-inverse .sidebar-nav li:focus > a,
			.sidebar-colored-inverse .sidebar-nav li > a:focus {
			  color: #f5f5f5;
			  background-color: transparent;
			}
			.sidebar-colored-inverse .sidebar-nav li:focus > a i,
			.sidebar-colored-inverse .sidebar-nav li > a:focus i {
			  color: #f5f5f5;
			}
			.sidebar-colored-inverse .sidebar-nav > .open > a,
			.sidebar-colored-inverse .sidebar-nav > .open > a:hover,
			.sidebar-colored-inverse .sidebar-nav > .open > a:focus {
			  color: #f5f5f5;
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-colored-inverse .sidebar-nav > .active > a,
			.sidebar-colored-inverse .sidebar-nav > .active > a:hover,
			.sidebar-colored-inverse .sidebar-nav > .active > a:focus {
			  color: #f5f5f5;
			  background-color: rgba(0, 0, 0, 0.2);
			}
			.sidebar-colored-inverse .sidebar-nav > .disabled > a,
			.sidebar-colored-inverse .sidebar-nav > .disabled > a:hover,
			.sidebar-colored-inverse .sidebar-nav > .disabled > a:focus {
			  color: #bdbdbd;
			  background-color: transparent;
			}
			.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu {
			  background-color: rgba(0, 0, 0, 0.1);
			}
			.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
			  background-color: rgba(0, 0, 0, 0.1);
			  color: #f5f5f5;
			}
			.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
			  background-color: rgba(0, 0, 0, 0.1);
			  color: #f5f5f5;
			}
			.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
			.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
			.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
			  color: #f5f5f5;
			  background-color: rgba(0, 0, 0, 0.2);
			}
			.sidebar {
			  width: 0;
			  -webkit-transform: translate3d(-280px, 0, 0);
			  transform: translate3d(-280px, 0, 0);
			}
			.sidebar.open {
			  min-width: 280px;
			  width: 280px;
			  -webkit-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
			}
			.sidebar-fixed-left,
			.sidebar-fixed-right,
			.sidebar-stacked {
			  position: fixed;
			  top: 0;
			  bottom: 0;
			  z-index: 1035;
			}
			.sidebar-stacked {
			  left: 0;
			}
			.sidebar-fixed-left {
			  left: 0;
			  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
			  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
			}
			.sidebar-fixed-right {
			  right: 0;
			  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
			  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
			  -webkit-transform: translate3d(280px, 0, 0);
			  transform: translate3d(280px, 0, 0);
			}
			.sidebar-fixed-right.open {
			  -webkit-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
			}
			.sidebar-fixed-right .icon-material-sidebar-arrow:before {
			  content: "\e614";
			}
			@media (max-width: 768px) {
			  .sidebar.open {
			    min-width: 240px;
			    width: 240px;
			  }
			  .sidebar .sidebar-header {
			    height: auto;
			  }
			}

/* SUDHAKAR ADDED CSS */
.mobile-header{
	background-color: #4054B2;
    padding: 15px 0;
}
.sidebar-toggle i{
	color: #fff;
	font-size: 25px;
	text-align: right;
}
.sidebar-toggle i.fa-times{
	color: #1174a0;
	font-size: 25px;
}

.logo-text {
text-align: right;
}
.logo-text h3{
	margin: 0;
	color: #fff;
} 
#demo{
	margin-top: 10px;
	margin-bottom: 5px;
}
.logo-text i{
	font-size: 25px;
	color: #fff;
}
/* search Form ****/
.li-form {
	text-align: right;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 20px;
}

.side-nav li {
	line-height: normal !important;
}

.sidebar .sidebar-nav li.title-quick {
	padding: 10px 15px !important;
	background-color: #F1F1F1;
	color: #898989;
	font-weight: 600;
	font-size: 14px;
}

@media (min-width: 768px) {
  .li-form {
    padding-top: 0;
    padding-bottom: 0; 
    } 
}

#search-nav input, #search-nav button[type="reset"] {
  display: none; }

#search-nav input, #search-nav button {
  border-radius: 0px;
  border-width: 0px;
  color: #454545;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none; 
}
.search-submit .fa.fa-search{
	color: #fff;
	font-size: 20px;
}
.sidebar-image p.user-name {
	margin:0;
	height: auto;
	text-align: left;
	position: relative;
	height: auto !important;
}

.sidebar-image p.user-name span {
	padding-left: 50px;
	display: inline-block;
}

.sidebar-image a:hover {
	background-color: #fff;
}
.sidebar-image{
	margin-bottom: 0;
	padding-bottom: 0;
}

.sidebar .sidebar-nav li a .caret {
	top: 20px !important;
}
.sidebar-image i{
      min-width: 15px;
    color: #202a59;
    margin-right: 7px;
    margin-left: 11px;	
    height: 30px;
    position: absolute;
    left: 5px;
}

.sidebar-image i.fa-user {
	line-height: 20px;
}

#sidebar .sidebar-nav li > a {
	font-size: 13px !important;
	font-family: 'poppins', sans-serif !important;
}

#sidebar .sidebar-nav li > a:hover {
	background-color: #67BD4A;
}
.mobile-searchbar .form-group .selectpicker{
	border:0;
}
.mobile-searchbar .form-group {
    margin-bottom: 0;
}

.navbar-collapse {
		position: relative;
		padding-top: 30px !important;
		max-height: 270px;
	}
	.navbar-collapse form[role="search"] {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100%;
		padding: 0px;
		margin: 0px;
		z-index: 0;
	}
	.navbar-collapse form[role="search"] button,
	.navbar-collapse form[role="search"] input {
		padding: 8px 12px;
		border-radius: 0px;
		border-width: 0px;
		color: rgb(119, 119, 119);
		background-color: rgb(248, 248, 248);
		border-color: rgb(231, 231, 231);
		box-shadow: none;
		outline: none;
	}
	.navbar-collapse form[role="search"] input {
		padding: 16px 12px;
		font-size: 14pt;
		font-style: italic;
		color: rgb(160, 160, 160);
		box-shadow: none;
	}
	.navbar-collapse form[role="search"] button[type="reset"] {
		display: none;
	}

	ul.sidebar-nav li.sub-head {
	    /*background-color: #67BD4A;*/
	    padding-left: 18px;
	    margin-top: -10px;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #fff;
	    height: 40px;
	    line-height: 40px;	
	    padding-top: 5px;
	}

	ul.sidebar-nav li.sub-head i {
		width: 30px;
		min-width: 30px;
	}	

	@media (max-width: 768px) {
		.navbar-collapse {
			padding-top: 0px !important;
			padding-right: 38px !important;
		}
		.navbar-collapse form[role="search"] {
			width: 38px;
		}
		.navbar-collapse form[role="search"] button,
		.navbar-collapse form[role="search"] input {
			padding: 15px 12px;
		}
		.navbar-collapse form[role="search"] input {
			font-size: 18pt;
			opacity: 0;
			display: none;            
            height: 50px;
		}
		.navbar-collapse form[role="search"].active {
			width: 100%;
		}
		.navbar-collapse form[role="search"].active button,
		.navbar-collapse form[role="search"].active input {
			display: table-cell;
			opacity: 1;
		}
    	.navbar-collapse form[role="search"].active input {
			width: 100%;
		}
	}

  @media screen and (max-width: 768px) {
/*     html,body {
  height: 100%;
} */
  }
.nav.sidebar-nav > li:last-child {
	padding-bottom: 40px;
}	