html {
	overflow-y: scroll;
}
/* core */
.scrollToTop {
	position: fixed;
	right: 20px;
	bottom: -100px;
	opacity: 0;
	
	overflow: hidden;
	outline: none;
}

.scrollToTop_show {
	opacity: 1;
	bottom: 20px;
}

@-webkit-keyframes scrollToTop_fade {
	0%	 {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes scrollToTop_fade {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes scrollToTop_slide {
	0%   {bottom: -100px;}
	100% {bottom: 20px;}
}
@keyframes scrollToTop_slide {
	0%   {bottom: -100px;}
	100% {bottom: 20px;}
}


.scrollToTop_animating,
.scrollToTop_animating * {
	pointer-events: none !important;
}

/* skin(default) */
.scrollToTop {
	width: 30px;
	height: 30px;
	color: #000;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 100%;
	white-space: nowrap;
	background: no-repeat center center transparent;
}

.scrollToTop_default {
	display: block;
	width: auto;
	height: auto;
	padding: 10px;
	text-indent: 0;
	background: #eee;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.scrollToTop_default:hover {
	background-color: #ddd;
}


.scrollToTop_cycle {
	background-image: url("../images/TOp_arrow.png");
	margin-right:0px;
	margin-bottom:0px;
}
/*
.scrollToTop_cycle:hover {
	background-image: url("../img/cycle-hover.png");
}
*/
/* skin(square) */
.scrollToTop_square {
	background-image: url("../img/square.png");
}
.scrollToTop_square:hover {
	background-image: url("../img/square-hover.png");
}

/* skin(text) */
.scrollToTop_text {
	background-image: url("../img/text.png");
}
.scrollToTop_text:hover {
	background-image: url("../img/text-hover.png");
}

/* skin(triangle) */
.scrollToTop_triangle {
	background-image: url("../img/triangle.png");
}
.scrollToTop_triangle:hover {
	background-image: url("../img/triangle-hover.png");
}