@import url('../css/media-quires.css');
@import url('../css/proxima-nova.css');
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
    font-family: 'ProximaNova Regular';
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova Bold';
    src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova Semibold';
    src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
}
@font-face {
    font-family: 'ProximaNova Light';
    src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}
body {
    font-family: "Proxima Nova";
    font-weight: 600;
    overflow-x: hidden;
}
p{
    font-size: 18px;
    font-weight: 500;
}
a:focus {
    outline: thin dotted;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}
.navbar-custom .navbar-brand {
    padding: 1px 0;
}
.active-menu{
    color: #ff7c07 !important;
}
.active-menu-mobile {
    background-color: #67BD4A !important;
    color: #fff !important;
}
.active-menu-mobile  i{
     color: #fff !important;   
}
a.back-to-top-new {
    background: url(../images/arrow.png) center 43% no-repeat;
    bottom: 20px;
    display: none;
    height: 30px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 30px;
    z-index: 999;
}
.btn-white {
    background-color: transparent;
    border-radius: 0;
}
.pad20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padtb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padtb50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padtb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padbtm60 {
    padding-bottom: 60px;
}
.bg-gray {
    background-color: #CCCCCC;
}
/*=================
NAVBAR MENU CSS
=================*/
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    border-color: transparent;
    z-index: 99;
    width: 100%;
    min-height: 87px;
    border-radius: 0;
}
.navbar-custom .navbar-nav>li>a span {
    padding-left: 4px;
}
#more li a{
    font-size: 16px;
}
.navbar-custom .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    padding: 10px 7px;
}
/*.navbar-custom .navbar-nav>li:last-child{
    width: 25%;
    background-color: #fff;
}*/
@media (min-width: 768px) {
.navbar-li {
    margin-top: 5px;
}
}
.sub-header {
    position: absolute;
    z-index: 9999;
    text-align: right;
    width: 100%;
    top: 87px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #fff;
}
#more {
    list-style-type: none;
    text-align: right;
}
#more li {
    float: left;
    margin-left: 20px;
    padding-top: 14px;
    padding-bottom: 5px;
}
#more li a {
    color: #000 !important;
}
.short-menu {
    background: url(../images/menu-mobile.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin: -17px 0 0 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    -moz-transition: -moz-transform 250ms ease-out 0s;
    -o-transition: -o-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
}
.short-menu.open {
    background-position: 0 -16px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    -moz-transition: -moz-transform 250ms ease-out 0s;
    -o-transition: -o-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
}
.short-menu-mob {
    background: url(../images/menu-mobile_%402x.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    margin: 10px;
    border: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    -moz-transition: -moz-transform 250ms ease-out 0s;
    -o-transition: -o-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
}
.short-menu-mob:hover {
    background: url(../images/menu-mobile_%402x.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    margin: 10px;
    border: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    -moz-transition: -moz-transform 250ms ease-out 0s;
    -o-transition: -o-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
}
.short-menu-mob.open {
    background-position: 0 -32px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    -moz-transition: -moz-transform 250ms ease-out 0s;
    -o-transition: -o-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
}
/*=================
CARSOEL CSS
=================*/
.banner-custom .carousel-caption .btn {
    border-radius: 0;
    padding: 9px 34px;
    color: #7baa00;
}
.banner-custom .carousel-caption .brder-tp {
     color: #fff;
    display: none;
    padding-top: 0;
}
.banner-custom .carousel-caption {
    text-shadow: 0 0 0 rgba(0,0,0,.6);
}
.banner-custom .carousel-caption .arrow {
    float: right;
}
.banner-custom .carousel-caption {
    font-family: 'poppins', sans-serif !important;
}
.content-positive h4{
    font-weight: bold;
}
.content-positive p{
   padding: 3px;
}
.banner-custom .carousel-caption h1 {
     font-size: 48px;
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: 0;
    margin-top: 0;
    text-transform: capitalize;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
#banners .carousel-caption {
      text-align: left;
    /* padding-top: 23px !important; */
    padding: 14px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    left: 66px;
    text-align: left;
    width: 46%;
    bottom: 109px;
}
}
/*.banner-custom .carousel-caption h1:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 10%;
    display: block;
    margin-top: 10px;
}*/
.padtb60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
/*==================
ABOUT INDEX 
==================*/
.font16 {
    font-size: 16px;
}
.first_heading {
    color: #ff7c07;
    margin-bottom: 21px;
    text-align: center;
    font-family: 'poppins', sans-serif !important;
    font-size: 30px;
}
.border-image p{
    padding: 0 25px;
}
.first_heading:after {
    content: "";
    border-bottom: 3px solid #ff7c07;
    width: 4%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.first-para {
    margin: auto 15%;
    text-align: center;
    color: #5b5b5b;
}
.who-we-are h3 {
    color: #619eb8;
    font-size: 21px;
    font-family: 'poppins', sans-serif !important;
    margin-top: 12px;
}
.who-we-are p {
    color: #7b7b7c;
}
.who-we-section {
    margin-top: 35px;
}
/*============================
BOX-SERVICES
=============================*/
.box-services h4 {
    line-height: 1.5;
    font-weight: bold;
}
.our_services .btn {
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    min-width: 100px;
    border-radius: 0;
    padding: 6px 16px;
}
.our_services h4:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 10%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.box-services {
    color: #fff;
    margin-top: 25px;
    text-align: center;
    min-height: 360px;
    padding: 5px 19px;
}
.box1 {
    background-color: #7974C8;
}
.box2 {
    background-color: #3C94B8;
}
.box3 {
    background-color: #DE6F27;
}
.box4 {
    background-color: #DE6F27;
}
.image-relative img.mn-hght {
    min-height: 360px;
}
.image-relative {
    position: relative;
    width: 100%;
}
.image-relative-content {
    color: #fff;
    margin-top: 25px;
    text-align: center;
}
.border-image {
    border: 1px solid #fff;
    margin: 15px;
    padding-bottom: 24px;
}
.content-positive {
    position: absolute;
    width: 100%;
    top: 0;
}
.news-updates-section {
    margin-top: 25px;
    margin-bottom: 10px;
}
.brder-tp p{
    font-weight: 300;
}
.news-updates-section h3 {
    color: #3c94b9;
    font-weight: 600;
    margin-top: 0;
}
.news-updates-section h6 {
    color: #3c94b9;
    margin-top: 0;
}
/*=========================
FOOTER CSS
=========================*/
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #1F2533;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    color: #7e838e;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    padding: 19px 0 10px;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer address {
    color: #7e838e;
    font-size: 14px;
    line-height: 1.9;
}
.footer a {
    color: #7e838e;
    font-size: 14px;
    line-height: 2.3;
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social {
    list-style: none;
}
.social li {
    background: none repeat scroll 0 0 #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 2px;
    float: left;
    padding: 4px;
    height: 20px;
    margin: 4px 8px 3px 0;
    text-align: center;
    width: 20px;
}
.social li a {
    color: #EDEFF1;
}
.social li:hover a {
    color: #fff;
}
.social li:hover {
    background: #8798bf;
    color: #fff;
}
.social {
    padding-left: 0;
}
.social li a i {
    font-size: 13px;
    color: #1f2533 !important;
}
.social li:last-child {
    padding: 0;
}
.footer-bottom {
    background: #181C27;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p {
    padding-top: 6px;
    color: #7e838e;
    font-size: 14px;
}
.payments {
    font-size: 1.5em;
}
.footer h3:after {
    content: "";
    border-bottom: 1px solid #7b7a7c;
    width: 28%;
    display: block;
    margin-top: 10px;
}
/*====================
CONTACT BAR
====================*/
.contact-bg {
    color: #fff;
    background: #003E67;/*background: -moz-linear-gradient(top, #003E67 0%, #9744d6 100%); 
background: -webkit-linear-gradient(top, #003E67 0%,#9744d6 100%); 
background: linear-gradient(to bottom, #003E67 0%,#9744d6 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003E67', endColorstr='#9744d6',GradientType=0 );
*/}
.contact-bg .btn {
    border: 2px solid #fff;
    margin-top: 27px;
    font-size: 17px;
    min-width: 207px;
    float: right;
}
/*=====================
CARRER PAGE CSS
=====================*/
.join p {
    color: #545454;
    line-height: 1.8;
}
.expalin {
    color: #2f2f2f;
}
.carrer-box {
    background-color: #fff;
    text-align: center;
    padding: 44px 32px;
    margin: 30px 0;
}
.btn-transparent:hover i {
    color: #fff;
}
.btn-transparent i {
    padding-left: 15px;
    color: #2f2f2f;
}
.btn-transparent {
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    color: #000;
    border: #CCCCCC 2px solid;
    padding: 8px 25px;
}
.carrer-box .btn-transparent {
    margin: 6px 15px;
}
.carrer-box p {
    color: #393737;
}
.carrer-box h4 {
    color: #000;
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 20px;
}
/*========================
BLOG CSS
============================*/
.min-hghtblog {
    min-height: 386px;
}
.bg-banner {
    background-color: #F5F5F5;
}
.bg-banner .first_heading {
     margin-top: 2%;
    margin-bottom: 35px;
}
.blog-box h3 {
    font-size: 21px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    margin-top: 46px;
    color: #343434;
    font-family: 'poppins', sans-serif !important;
}
.blog-box p {
    color: #777777;
    text-align: justify;
}
.btn {
    border-radius: 0;
}
.btn-blog {
    border-color: #3C94B8;
    background-color: #3C94B8;
    padding: 5px 25px;
}
.bordr {
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    margin-bottom: 22px;
}
.date {
    font-weight: bold;
    padding-left: 0;
}
.btn-readmore {
    background-color: transparent;
    border: 2px solid #FE6D0E;
    color: #FE6D0E;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 8px 25px;
}
.blog-box a:focus, .blog-box a:hover {
    text-decoration: none;
    outline-offset: 0px;
    outline: none;
}
.contact-detils h3 {
    color: #ff7c07;
    font-size: 18px;
    margin-top: 11px;
    font-family: 'poppins', sans-serif !important;
}
address a, .contact-detils address {
    color: #343434;
}
.contact-detils .col-md-1 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.contact-detils address {
      font-weight: 400;
    padding-top: 6px;
    font-size: 16px;
}
.border-right {
    border-right: 1px solid #e1e1e1;
    min-height: 153px;
    padding-left: 0;
}
.form-custom .form-control {
    border-radius: 0;
    padding: 21px 12px;
}
.form-custom {
    margin-bottom: 50px;
}
/*======================
 CASE-STUDIES CSS
======================*/
.case-studies p {
    color: #5b5a5a;
}
.case-studies h5 {
    color: #383c4f;
    font-size: 16px;
}
.case-studies h3 {
    color: #ff6500;
    margin-top: 0;
    font-family: 'poppins', sans-serif !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
}
/*===================
ABOUT US CSS
===================*/
.bg-about {
    background-color: #F0F0F0;
}
/*.bg-about blockquote {
    padding: 10px 20px;
    margin: 2px 131px 19px;
    color: #5b5b5b;
    text-align: center;
    font-size: 14px;
    border-left: 0 solid #eee;
}*/
/*.bg-about blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(../images/block1.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  .bg-about blockquote.style1:after{
        display: block;
        background-image: url(../images/block2.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }*/
blockquote.style3 {
    padding-top: 25px;
    margin: 0 126px;
    background-image: url(../images/block1.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 65px;
    border: 0 solid #000;
}
blockquote.style3 span {
    display: block;
    color: #5b5b5b;
    padding: 0 23px;
    background-image: url(../images/block2.png);
    background-repeat: no-repeat;
    padding-bottom: 58px;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    background-position: bottom right;
}
.morecontent div {
    display: none;
}
.mera-color {
    color: #f9b700 !important;
}
.our_services .btn:focus, .our_services .btn:hover ,
.morelink:focus, .morelink:hover {
    color: #fff !important;
    background-color: #ec971f;
    border-color: #ec971f;
}
.morelink {
    color: #F9B700;
        margin-bottom: 15px;
    text-decoration: none;
    outline: none;
    border: 1px solid #F9B700;
    font-size: 16px;
    margin-top: 9px;
    padding: 4px 25px;
    outline-offset: 0px;
    float: right;
}
.more {
    color: #5b5b5b;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}
.about-us .first_heading {
    margin-bottom: 30px;
}
.bg-team a {
    display: block;
    position: relative;
}
.bg-team a i.fa-angle-double-right {
    font-size: 2em;
    padding-top: 124%;
    text-align: center;
}
.bg-team a h3 {
    font-weight: bold;
    font-size: 19px;
}
.bg-team h4 {
    font-size: 15px;
}
.bg-team .member-info {
    display: block;
    /* padding: 10px 45px 10px 10px; */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background: #0c4b80;
    color: #fff;
    width: 86%;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
}
.bg-team a:hover .member-info, .bg-team a:focus .member-info {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
.bg-light-white {
    background-color: #FAFEFD;
}
.about-des .first_heading {
    color: #ff7c07;
    text-align: left;
    font-family: 'poppins', sans-serif !important;
    font-size: 30px;
}
.about-des .first_heading:after {
    content: "";
    border-bottom: 3px solid #464646;
    width: 8%;
    display: block;
    margin: 5px;
    margin-top: 10px;
}
.btn-about .btn {
    margin-bottom: 12px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 29px;
}

.btn-about a:first-child {
    background-color: #DE6F27;
    border-color: #DE6F27;
}
.btn-about a:nth-child(2){
    background-color: #454D71;
    border-color: #454D71;
}
.btn-about a:nth-child(3) {
    background-color: #7974C8;
    border-color: #7974C8;
}
.btn-about a:nth-child(4) {
    background-color: #3C94B8;
    border-color: #3C94B8;
}
.btn-about a:nth-child(5) {
    background-color: #3CB879;
    border-color: #3CB879;
}
.btn-about a:nth-child(2){
    background-color: #E2494B;
    border-color: #E2494B;
}


.btn-indu {
    background-color: #DE6F27;
    border-color: #DE6F27;
}
.btn-Retail {
    background-color: #454D71;
    border-color: #454D71;
}
.btn-home {
    background-color: #7974C8;
    border-color: #7974C8;
}
.btn-Energy {
    background-color: #3C94B8;
    border-color: #3C94B8;
}
.btn-remote {
    background-color: #3CB879;
    border-color: #3CB879;
}
.btn-health {
    background-color: #E2494B;
    border-color: #E2494B;
}
.about-ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.min-hght1 {
    min-height: 540px;
}
.about-ul li {
    padding-left: 1em;
    text-indent: -.7em;
    line-height: 1.3 !important;
    padding-bottom: 0 !important;
}
.about-ul li::before {
    content: "• ";
    color: #FD7C05;
    font-size: 28px;
}
/*===================
PRODUCT PAGE CSS
===================*/
.bg-product {
  /*  background-color: #F5F5F5;*/
  padding-bottom: 10px !important;
}
.product-des h4 {
/*border-bottom: 1px solid #383c4f;*/ 
    /* color: #383c4f; */
    /* font-weight: bold; */
    /* font-size: 16px; */
    /* padding-bottom: 10px; */
        color: #0babc9;
    font-size: 35px;
    margin: 0;
    line-height: 1.5;
    font-weight: 600;
    font-family: "proxima-nova", sans-serif;
}
.navbar-custom .navbar-collapse {
    padding-top: 18px !important;
}
.iot-des h3 {
    border-bottom: 0 solid #383c4f;
    color: #0c85a3;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 10px;
}
.product-des ul li {
/*    line-height: 2;
    padding-bottom: 15px;*/
}
.bg-blue {
    background-color: #A24AB8;
    color: #fff;
}
.min-hght {
    min-height: 610px;
}
.data h3 {
    color: #fff;
}
.img-margin img {
    margin-top: 15%;
}
/*===================
WhizBlox PAGE CSS
===================*/
.WhizBlox h4 {
    color: #0c85a3;
    font-size: 21px;
    font-family: 'poppins', sans-serif !important;
}
.modal ul,
.product-des ul ,
.WhizBlox ul {
    list-style: none;
    padding: 0;
}
.modal li,
.product-des li,
.WhizBlox li {
    padding-left: 1.3em;
    line-height: 1.8;
        font-size: 18px;
    font-weight: 500;
}
.modal li:before ,
.product-des li:before ,
.WhizBlox li:before {
    content: "\f04d"; 
    font-family: FontAwesome;
    color: #F16321;
    display: inline-block;
   /* margin-left: -1.3em; */
    width: 1.1em;
}
.WhizBlox-last h5 {
    color: #0b7893;
    font-size: 16px;
    font-family: 'poppins', sans-serif !important;
    font-weight: 500;
    margin-bottom: 13px;
}
/* ========MODAL STYLE CSS============ */
.modal-custom .modal-header{
  background-color: #ff7c07;
  color:#fff;
}
.modal-custom .close{
  color:#fff;
  opacity: 1;
}
.modal-custom .modal-content{
 border-radius:0;
}
.modal-custom   .sponsors-box {
    box-shadow: none;
    border: none;
    margin-bottom:0;
    padding:0;
}
.round-letter.bg-gray h1{
    border-color: #796EBD;
}
.round-letter h1{
    border: 4px solid #fff;
    border-radius: 50%;
    height: 100px;
    font-weight: bold;
    padding: 29px;
    margin: 0 auto;
    width: 100px;
    text-align: center;
}
.process-block h3{
    color: #796EBD;
    margin-top: 5px;
    font-weight: 600;
    margin-bottom: 17px;
}
.process-block .bg-gray h3{
    color: #796EBD;
}
.process-block .bg-gray {
    background-color:#EBEBEB;
    box-shadow: 0 0px 0 #B4B3B3;
}
.process-block .bg-blue{
    background-color: #AC49B5;
    box-shadow: 0 0px 0 #B4B3B3;
}
.process-block .bg-blue h3{
    color: #fff;
}
.process-block ul{
    padding-left: 15px;
}
.process-block ul li{
   font-size: 16px;
   line-height: 1.5;
}
.process-block ul,
.morecontent div,
.carrer-box .btn-transparent,
.product-des ul li {
    font-size: 18px;
    font-weight: 500;
}
.iot-des h3{
    font-size: 34px !important;
}
.news-updates-section h4{
    font-weight: 600;
    margin-top: 0;
    font-size: 19px;
}